{:version     "2020-04-24"
 :description "Validate csv data produced by implementations of the COVID-19 orientation algorithm."
 :url         "https://github.com/Delegation-numerique-en-sante/covid19-algorithme-orientation-check"
 :license     {:name "Eclipse Public License - v 2.0"
               :url  "http://www.eclipse.org/legal/epl-v20.html"}
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.1"}
  semantic-csv           {:mvn/version "0.2.0"}
  cheshire               {:mvn/version "5.10.0"}
  clojure.java-time      {:mvn/version "0.3.2"}
  org.clojure/test.check {:mvn/version "1.0.0"}}
 :aliases
 {:make-schema  {:main-opts ["-m core make-schema"]}
  :make-csv     {:main-opts ["-m core make-csv"]}
  :check-schema {:main-opts ["-m core check-schema"]}
  :check-algo   {:main-opts ["-m core check-algo"]}
  :jar          {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
                 :main-opts  ["-m" "hf.depstar.uberjar" "covid19-check.jar"
                              "-C" "-m" "core"]}}}
